* {
  margin: 0;
  padding: 0;
  font-family: amatic;
  color: white;
}
@font-face {
  font-family: amatic;
  src: url(font/amaticsc-regular-webfont.woff);
}

h2 {
  font-size: 4em;
  color: #ffffff;
}
body {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

/* header, indeholder barnavn*/
header {
  height: 10vw;
  text-align: center;

  background-color: #a58141;
}
.skilt {
  background-image: url(dashbord/skilt-01.svg);
  background-repeat: no-repeat;
  height: 7vw;
  width: 25vw;
  font-size: 3vw;
  margin: 2vw 0 0 37vw;
  color: #33240d;
  padding: 0.5vw 0 0 0;
}
/* contentAll, indeholder al content til dashboard, bortset fra barnavn*/
#contentAll {
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
}
/* contentAll, indeholder al content til dashboard, bortset fra barnavn slut*/

/* upper section, indeholdende kridtavler til data og hylder*/
#upperSection {
  height: 30vw;
  grid-column: 1 / 6;
  display: grid;

  background-color: #a58141;
}

.chalkBoardLeft {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 20vw;
  height: 30vw;
  background-image: url(tavle1.svg);
  background-repeat: no-repeat;
  text-align: center;
  font-size: 2vw;
}

.openingHours {
  align-self: flex-end;
}

.time {
  align-self: center;
  margin-right: 2vw;
}

.shelfLeft {
  grid-column: 2 / 3;
  width: 20vw;
  height: 30vw;
  /* margin: 0 0.5vw 0 0.5vw; */
  background-image: url(dashbord/hyldeVenster.svg);
  background-repeat: no-repeat;
}

.chalkBoardMid {
  grid-column: 3 / 4;
  width: 20vw;
  height: 30vw;
  margin: 8.5vw 0 0 0;
  background-image: url(tavleBest2.svg);
  background-repeat: no-repeat;
}

.dailyOffer {
  margin: 8vh;
  font-size: 2vw;
}
.shelfRight {
  grid-column: 4 / 5;
  width: 20vw;
  height: 30vw;
  /* margin: 0 0.5vw 0 0.5vw; */
  background-image: url(dashbord/hyldeHøjre.svg);
  background-repeat: no-repeat;
}
.chalkBoardRight {
  grid-column: 5 / 6;
  display: grid;
  align-items: flex-end;

  width: 20vw;
  height: 30vw;
  background-image: url(tavle1.svg);
  background-repeat: no-repeat;
  /* margin: 0 0.5vw 0 0.5vw; */
}

.beers {
  width: 100%;
  margin: 3vh 3vh;
  font-size: 1vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.beers span {
  grid-column: span 1;
}

.beers span img {
  width: 1.5vw;
}
/* upperSection, indeholdende kridtavler til data og hylder slut*/

/* midSection section, indeholdende øl placeholder til data*/

#midSection {
  grid-column: 1 / 6;
  height: 10vw;
  background-color: #a58141;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.beer1 {
  grid-column: 2 / span 1;
  z-index: 10;
  justify-self: center;
  position: relative;
  top: -5vh;
}

.beer2 {
  grid-column: 3 / span 1;
  z-index: 10;
  position: relative;

  top: -2.7vh;
}
.beer3 {
  grid-column: 4 / span 1;
  z-index: 10;
  position: relative;
  top: -5vh;
}

.beer1 img,
.beer2 img,
.beer3 img {
  width: 2.5vw;
}

/* midSection section, indeholdende øl placeholder til data slut*/

/* lowerSection section, indeholdende bar m. græskar og stor kridttavle*/
#lowersection {
  grid-column: 1 / 6;
  background-color: #4c300b;
  height: 56vh;
}

.bar {
  height: 30vw;
  background-image: url(dashbord/bar-01.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -14vw;
  margin: 0 12vw 0 12vw;
}

.chalkBig {
  background-image: url(dashbord/tavleBar-01.svg);
  background-repeat: no-repeat;
  height: 10vw;
  width: 50vw;
  position: relative;
  top: 39%;
  left: 5%;
  padding: 2vw 0 0 2vw;
}

/* lowerSection section, indeholdende bar m. græskar og stor kridttavle slut*/
